* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #BDA448; 
}

.vuoto {
    width: 100%;
    height: 100px;
    background-color: #202020;
    text-align: center;
}

.vuoto p {
    background-color: inherit;
    text-align: center;
    padding-bottom: 20px; /*da concordare con padding-tpo di  .div-bottoni-categoria */
    background-color: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
}

* :focus {
    outline: none;
}

body {
    background-color: #111111;    
}

#root {
    background-color: inherit;
}

.App, .div-navigazione, .switch {
    background-color:  #0D0E10;
}

.App {
    height: 100vh;
}

.div-navigazione {
    max-height: calc(100vh - 56px); /* cioé -36px di bottone switch e -20px di padding al suo div-toggler */
    height: calc(100vh - 56px); /* cioé -36px di bottone switch e -20px di padding al suo div-toggler */
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    width: 100%;
    /* overflow-y: hidden; */
}

.div-toggler {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

/***** BOTTONE SWITCH Lt/Dk MODE *******/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #303030;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #1d1d1d;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #4e4e4e;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4e4e4e;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/*********************** NAVBAR LATERALE (SELEZIONE ROMANZO) *******************/
.nav-outer {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: center;
}
.navWrapper {
    display: flex;
    width: fit-content;
    position: relative;
    align-items: center;
   
    height: min-content;
}
nav {
    width: max-content;
    /*max-height: inherit;*/
    max-height: 60vh;
    overflow: auto;
}


ul {
    list-style: none;
    overflow-y: scroll;
    height: inherit;
    border-radius: 5px;
    background-color: transparent;
    overflow: auto;    
}

ul:after {
    content: "";
    display: table;
    clear: both;
}

li, .li-home {
    display: flex;
    font-size: 17px;
    padding: 12px;
    padding-left: 30px;
    width: 100%;
    text-align: left;
    background-color: inherit;
    color: rgb(223, 223, 223);
    border: 2px solid black;
    padding: 20px;
    margin: 1px;
    background-color: rgb(39, 39, 39);
}

.li-home {
    margin-bottom: 20px;
    width: calc(100% - 30px);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}


a {
    text-decoration: none;
}

li:hover {
    background-color: #2c2c2c;
    cursor: pointer;
}


.bottoncino {
    width: 30px;
    height: 30px;
    background-color: #354B5F;
    position: relative;
    margin-top: 13%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* Scrollbar invisibile*/
::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.cliccato {
    background-color: rgb(105, 105, 105);
}

.cliccato:hover {
    background-color: rgb(105, 105, 105);
}

/************************** COMPONENTE CATEGORIE **************************/

.container-generale-categorie {
    width: 100%;
    background-color:#202020;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
   
}


.container-categorie {
    padding: 20px;
    overflow: hidden;
    padding-bottom: 50px;
}

.nome-del-romanzo {
    background-color: inherit;
    text-align: center;
    padding-bottom: 20px; /*da concordare con padding-tpo di  .div-bottoni-categoria */
    background-color: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul.lista-categorie {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-row-gap: 50px;
    grid-column-gap: 80px;
    height: calc(100% - 20px);  /* -50px del nome-del-romanzo  */
    overflow: auto;
    padding: 50px;
}

.categoria {
    background-color: inherit;
}

.nome-della-categoria, .lista-articoli li.li-titolo a, .lista-categorie .categoria li a  {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /*modifica questi h/w insieme a h/w di ".lista-articoli li.li-titolo, .lista-categorie .categoria" e ai min-max dei grid */
    height: 120px;
    max-width: 120px;
    max-height: 120px;
    text-align: center;
    font-size: 0.86rem; 
    /* background-color: red; */
}

.nome-della-categoria span {
    overflow: hidden;
    text-overflow: ellipsis !important;
    max-width: inherit;
    max-height: inherit;
   text-align: center;
   letter-spacing: 2px;
   text-transform: uppercase;
}


.div-bottoni-categorie {
    background-color: #202020;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    position: absolute;
    padding-bottom: 5px;
    bottom: 0px;
    width: 100%;
    background-color: #202020;
    left: 50%;
    transform: translate(-50%);
    
}

.container-generale-categorie {
    position: relative;
}

.div-bottoni-categorie button, .div-bottoni-categorie input {
    letter-spacing: 2px;
    padding: 7px 20px;
    background-color: #303030 !important;
    border: none;
}

.div-bottoni-categorie input {
    width: 230px;
}

.div-bottoni-categorie button {
    border: 1px solid #202020;
    margin-left: 2px;
}

.no-categorie {
   font-size: 1.6rem; 
   padding: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%);
}

.no-categorie p {
    text-align: center;
}

@media screen and (max-width: 945px) {

    .container-categorie {
        padding-bottom: 200px;
    }
    .div-bottoni-categorie {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        
    }

    .div-bottoni-categorie form {
        padding: 20px;
    }
}

@media screen and (max-width: 640px) {

    .container-categorie {
        padding-bottom: 250px;
    }

    .div-bottoni-categorie {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .div-bottoni-categorie form {
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

    .div-bottoni-categorie form button {
        margin-top: 10px;
    }
}


/************************* COMPONENTE ARTICOLI *********************/

html {
    overflow-y: hidden;
}
.no-articoli {
   font-size: 1.6rem;
   padding: 20px;
}

.no-articoli p {
    text-align: center;
}

.container-generale, .container-generale-articoli {
    width: 100%;
    max-height: 100vh;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.container-articoli {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.container-articoli {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nome-categoria {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px !important;
    padding-bottom: 50px !important;
}

.lista-articoli {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-row-gap: 50px;
    grid-column-gap: 80px;
    padding-top: 20px;
    padding-bottom: 50px !important;
}

.lista-articoli li, .lista-categorie li {
    width: auto;
    color: #BDA448;
    display: flex;
    flex-wrap: wrap;
    cursor: default;
    border: none;
    background-color: inherit;
} 

.lista-articoli li.li-titolo, .lista-categorie .categoria {
    /*background-image è inline nel lato JSX*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /*modifica questi h/w insieme a h/w di .nome-della-categoria e ai minmax dei grid */
    min-height: 180px;
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-bottoni-articoli {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    position: absolute;
    padding-bottom: 5px;
    bottom: 0px;
    width: calc(100% - 20px);
    right: 10px;  /* mah */
    background-color: #202020;
}

.div-bottoni-articoli .inserisci-articolo {
    letter-spacing: 2px;
    padding: 7px 20px;
    background-color: #303030 !important;
    border: #BDA448;   
}

.inserisci-articolo:hover {
    background-color: #333333;
}

/*********************** ARTICOLO (SHOW) *************************/

.contenitore-articolo {
    color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.testo-e-immagine{
    background-color: #B8B8B8;
    overflow: auto;
    height: 100%;
    padding: 50px;
    text-align: justify;
}
.contenitore-articolo .bottoni {
    display: flex;
    justify-content: space-evenly;
    background-color: #B8B8B8;
    padding: 25px;
}

.contenitore-articolo h2 {
    color: #313131;
    margin-bottom: 80px;
    font-size: 2rem;
}

.contenitore-articolo p {
    font-size: 1.4rem;
    line-height: 2.3rem;
}

.div-corpo-testo {
    background-color: #4D4D4D;
    padding: 40px;
    overflow: auto;
} 

/**************** COMPONENTE HOME **************/

.contenitore-home {
    background-color: rgb(36, 35, 35);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.contenitore-home form {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.contenitore-home form input {
    padding: 5px;
    min-width: 300px;
    font-size: 17px;

}

.contenitore-home form input:focus {
    outline: none;
}

.inserisci-romanzo, .elimina-romanzo {
    max-width: fit-content;
    padding: 5px;
    font-size: 15px;
}



/****************** CREA ARTICOLO ********************/

.crea-articolo-container {
    width: 100%;
    height: 95vh;
    background-color: rgb(110, 98, 136);
    padding-bottom: 50px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.crea-articolo-container form {
    height:100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 30px;
}

.container-bottone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-bottone button {
    width: 80px;
    padding: 6px;
    
}

#inserisci-titolo {
    margin-bottom: 50px;
    height: 50px;
    padding: 15px;
}

.editor-wrapper {
    max-height: inherit;
    overflow: auto;
}


/***********************  WELCOME ******************/

.contenitore-welcome {
    position: absolute;
    background-color: #202020;
    /* top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    height: calc(100vh - 40px);
    width: calc(100% - 40px); */
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.welcome-logo {
    /**** HO DOVUTO FARLO INLINE: REACT NON COMPILA L'IMMAGINE IN BACKGROUND*/
   /* background-image: url('/immagini/frame-dark-mode.png');*/
   color:  #BDA448;
   padding: 200px;

}

.p-welcome {
   /* height: 15vh;*/
    color:  #BDA448;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.bottone-entra {
    /*height: 15vh;*/
    border: 1px solid #BDA448;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 7px 30px;
    color:  #BDA448;
    background-color: inherit;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 2px;
}

.bottone-entra:focus {
    outline: none;
}

.bottone-entra:hover {
    background-color: #333333;
}

.contenitore-welcome span {
    font-size: 3rem;
    letter-spacing: 2px;
}

@media screen and (max-width: 992px) {
    .contenitore-welcome span {
     font-size: 2.5rem;
    }
}


@media screen and (max-width: 850px) {
    .contenitore-welcome span {
     font-size: 2.4rem;
    }
}

@media screen and (max-width: 786px) {
    .contenitore-welcome span {
     font-size: 2rem;
    }
}

@media screen and (max-width: 769px) {
    .container-generale, .container-generale-articoli {
        height: auto;
        max-height: auto;
    }
}


@media screen and (max-width: 361px) {
    .container-generale, .container-generale-articoli {
        height: auto;
        max-height: auto;
    }
   
    .lista-articoli, .lista-categorie {
        padding-bottom: 0px !important;

    }
}





  