* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#root {
    background-color: purple;
}

.App {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    background-color: #0D0E10;
    padding: 20px;
}

/*********************** NAVBAR LATERALE (SELEZIONE ROMANZO) *******************/
.navWrapper {
    display: flex;
    width: fit-content;
    position: relative;
    align-items: center;
}
nav {
    width: max-content;
    max-height: 95vh;
    overflow: auto;
    scrollbar-width: none; /* scrollbar invisibile per Firefox */
    -ms-overflow-style: none;  /* scrollbar invisibile per Internet Explorer 10+ */
    margin-left: 10px;
}

ul {
    
    list-style: none;
    overflow-y: scroll;
    height: inherit;
    border-radius: 5px;
    background-color: transparent;
    
}

ul:after {
    content: "";
    display: table;
    clear: both;
}

li {
    display: flex;
    font-size: 17px;
    padding: 12px;
    padding-left: 30px;
    width: 100%;
    text-align: left;
    background-color: inherit;
    color: rgb(223, 223, 223);
    border: 2px solid black;
    padding: 20px;
    margin: 3px;
    background-color: rgb(39, 39, 39);
}

a {
    text-decoration: none;
}

li:hover {
    background-color: #2c2c2c;
    cursor: pointer;
}


.bottoncino {
    width: 30px;
    height: 30px;
    background-color: #354B5F;
    position: relative;
    margin-top: 13%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* Scrollbar invisibile*/
::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.cliccato {
    background-color: rgb(105, 105, 105);
}

.cliccato:hover {
    background-color: rgb(105, 105, 105);
}

/************************************Container Categorie *********************************************/

.container-categorie {
    width: 100%;
    flex-wrap: wrap;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    padding-right: 40px;
    height: fit-content;
    max-height: 95vh;
    gap: 50px 50px;
    padding-left: 40px;
}

.categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background-color: #354b5f;
    margin: 20px;
    border-radius: 5px;
    color: white;
    font-size: 19px;
}

/************************* COMPONENTE ARTICOLI *********************/
.container-articoli {
    width: 100%;
    background-color: #000033;
    margin-right: 20px;
}

.lista-articoli {
    background-color: inherit;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titolo {
    color: black;
    background-color: #2A2E37;
    width: auto;
}